/* Основний контейнер */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  /* Розмитий блок для заголовка */
.header-blur {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  /* Індикатори надійності */
  .strength-indicator-container {
    margin-top: 20px;
    width: 100%;
  } 

.strength-indicator {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.strength-bar {
    flex: 1;
    height: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

 /* Стилі для кольорів індикаторів */
.gray {
    background-color: #ccc;
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #f1c40f;
}

.green {
    background-color: #2ecc71;
}

.card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: box-shadow 0.3s ease;
  
    &.weak {
      box-shadow: 0 0 15px rgba(231, 76, 60, 0.7); // Червона тінь
    }
  
    &.medium {
      box-shadow: 0 0 15px rgba(241, 196, 15, 0.7); // Жовта тінь
    }
  
    &.strong {
      box-shadow: 0 0 15px rgba(46, 204, 113, 0.7); // Зелена тінь
    }
  
    &.neutral {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Нейтральна тінь
    }
  }
  

  /* Стилі для інпуту */
input {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
  //  width: 100%;
    transition: border-color 0.3s;
    width: 575px;

    &:focus {
    border-color: #007bff;
    outline: none;
    }
}  