<div class="container mt-5">
  <div class="header-blur text-center">
    <h2>Password Strength</h2>
  </div>
  <div class="card p-4 shadow-sm" [ngClass]="getStrengthContainerClass()">
    <div class="input-group mb-4">
      <input
        [formControl]="passwordControl"
        [type]="showPassword ? 'text' : 'password'" змінюємо тип інпуту 
        class="form-control"
        placeholder="Enter your password"
      />
      <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'Hide' : 'Show' }}
      </button>
    </div>
    <div class="strength-indicator-container">
      <div class="strength-indicator d-flex justify-content-between">
        <div class="strength-bar" [ngClass]="getStrengthClass()[0]"></div>
        <div class="strength-bar" [ngClass]="getStrengthClass()[1]"></div>
        <div class="strength-bar" [ngClass]="getStrengthClass()[2]"></div>
      </div>
    </div>
  </div>
</div>
