<div class="container mt-5">
  <div class="header-blur text-center">
    <h2>Password Strength</h2>
  </div>
  <div class="card p-4 shadow-sm" [ngClass]="getStrengthContainerClass()">
    <input
      [formControl]="passwordControl"
      type="password"
      class="form-control mb-4"
      placeholder="Enter your password"
    />
    <div class="strength-indicator-container">
      <div class="strength-indicator d-flex justify-content-between">
        <div class="strength-bar" [ngClass]="getStrengthClass()[0]"></div>
        <div class="strength-bar" [ngClass]="getStrengthClass()[1]"></div>
        <div class="strength-bar" [ngClass]="getStrengthClass()[2]"></div>
      </div>
    </div>
  </div>
</div>
